ADMIN_USER=admin
ADMIN_PASSWORD=1234
ALLOWED_CLIENT_ORIGINS=[http://localhost:0000]
API_URL=http://localhost:0000
COLLECTION_NAME=collection_name
DB_URI=mongodb+srv://mongodb_uri
INDEX_NAME=index_name
JWT_SECRET=secret
MODE=DEV
PORT=0000
