[submodule "types"]
	path = types
	url = https://github.com/AlbertLeipzig/doc-ai-bot-types
[submodule "services"]
	path = services
	url = https://github.com/AlbertLeipzig/doc-ai-bot-services
[submodule "utils"]
	path = utils
	url = https://github.com/AlbertLeipzig/doc-ai-bot-utils
