[submodule "types.ts"]
	path = types.ts
	url = https://github.com/AlbertLeipzig/doc-ai-bot-types
[submodule "src/types"]
	path = src/types
	url = https://github.com/AlbertLeipzig/doc-ai-bot-types
[submodule "types"]
	path = types
	url = https://github.com/AlbertLeipzig/doc-ai-bot-types
	branch = main
